

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><h4>&nbsp;&nbsp;音乐榜</h4></li>
                <li><a href="#/music/tabs/list/27">音乐榜:新歌</a></li>
                <li><a href="#/music/tabs/list/26">音乐榜:热歌</a></li>
                <li><a href="#/music/tabs/list/4">音乐榜:流行</a></li>
                <li><a href="#/music/tabs/list/5">音乐榜:内地</a></li>
                <li><a href="#/music/tabs/list/6">音乐榜:港台</a></li>
                <li><a href="#/music/tabs/list/3">音乐榜:欧美</a></li>
                <li><a href="#/music/tabs/list/17">音乐榜:日本</a></li>
                <li><a href="#/music/tabs/list/16">音乐榜:韩国</a></li>
                <li><a href="#/music/tabs/list/36">音乐榜:k歌金曲</a></li>
                <li><a href="#/music/tabs/list/28">音乐榜:网络歌曲</a></li>
            </ul>

        </div>

       <div class="col-sm-10 col-md-9 col-sm-offset-2 main">
           <div ui-view=""></div>
       </div>


    </div>
</div>

