
/* 导航栏和播放器固定定位50px*/
body {
    padding:50px 0;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}
.navbar-fixed-top form {
    position: fixed;
    top:0;
    right:20px;
    margin-top: 8px;
}
.navbar-fixed-top .collapse-btn{
    position: fixed;
    top:0;
    right:0;
    width:15px;
    height:50px;
    padding-top:5px;
    cursor: pointer;
}
.navbar-fixed-top .collapse-btn span {
    display: block;
    margin:9px 5px 0;
    border:1px solid #fff;
    width:5px;
}
.navbar-fixed-top .lists{
    position: absolute;
    width:100%;
    background-color: rgba(51,51,51,.5);
}
.navbar-fixed-top .lists a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar-fixed-top .lists a:hover{
    color: #000;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /* background-color: #f5f5f5; */
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * 搜索占位符
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
/*字体图标*/
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?12402031');
    src: url('../font/fontello.eot?12402031#iefix') format('embedded-opentype'), url('../font/fontello.woff2?12402031') format('woff2'), url('../font/fontello.woff?12402031') format('woff'), url('../font/fontello.ttf?12402031') format('truetype'), url('../font/fontello.svg?12402031#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12402031#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    /*margin-right: .2em;*/
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    /*margin-left: .2em;*/
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-open:before {
    content: '\e800';
}

.icon-play:before {
    content: '\e801';
}

.icon-next:before {
    content: '\e802';
}

.icon-prev:before {
    content: '\e803';
}

.icon-pause:before {
    content: '\e804';
}

.icon-volume-off:before {
    content: '\e805';
}

.icon-volume-up:before {
    content: '\e806';
}

.icon-play-circled:before {
    content: '\e807';
}

.icon-folder:before {
    content: '\e808';
}

.icon-folder-open:before {
    content: '\e809';
}

.icon-plus:before {
    content: '\f196';
}




/*返回顶部的按钮*/
#toTop{
    font-size: 25px;
    position: fixed;
    right:5%;
    bottom:10%;
    z-index:4;
    background-color: transparent;
}
#toTop:hover{
    background-color: rgba(50,50,50,.2);
}


#sidebar{
    border:none;
}

/*播放列表*/
/*这里使用display:table*/
/*也可以使用display:flex布局*/
#myTable{
    /*border: 1px solid #eee;*/
    border-top: 2px solid #d90000;
    border-bottom: none;
    font-size: 1em;
    /*display: table;*/
}
#myTable .thead {
    display: flex;
    justify-content: flex-start;
    /*display: table-row;*/
    width:100%;
    border-bottom: 1px solid #eee;
}
#myTable .thead > div{
    display: inline-block;
    /*display: table-cell;*/
    vertical-align: middle;

    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/*设置列宽*/
.th_index,.th_seconds,.th_singer,.td_index,.td_seconds,.td_singer{
    width: 10%;
}
.th_title,.td_title{
    width: 70%;
}


#myTable .thead div + div {
    border:1px solid #eee;
}
#myTable .tbody {
    /*display: table-row;*/
    display: flex;
    justify-content: flex-start;
    /*border-bottom: 1px solid #eee;*/
    align-items: center;
    padding: 5px 0;
}

#myTable .tbody > div {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}


#myTable .tbody .td_index {
    text-align: center;
}
#myTable .tbody .td_title {
    position: relative;
    font-size: 20px;
}
#myTable .tbody .td_title a{
    padding:0 10px;
    display: inline-block;
    max-width: 80%;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#myTable .tbody .td_singer {
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;

}
#myTable .tbody:hover .td_title a{
    max-width: 50%;
}
#myTable .tbody .td_title .btns {
    position: absolute;
    height:60%;
    right:10%;
    top:20%;
    width: 20%;
    visibility: hidden;
    display: flex;
    align-items: center;
    /*background-color: rgba(50,50,50,.1);*/
}
#myTable .tbody .td_title .btns span {
    display: inline-block;
    width:50%;
    font-size:1.5em;
    cursor: pointer;
    margin: 0 5px;
}

#myTable .tbody:hover .btns {
    visibility: visible;
}
.bgc_odd{
    background-color: #f9f9f9;
}

/*768px下的适应*/
@media (max-width:768px) {
    #myTable .tbody img {
        display: none;
    }
    #myTable .tbody:hover {
        cursor: pointer;
    }
    #myTable .tbody .td_title {
        font-size: 1em;
    }
    .th_seconds,.td_seconds{
        width:15%;
    }
    .th_singer,.td_singer{
        width: 20%;
    }
    .th_title,.td_title{
        width: 55%;
    }
    #myTable .tbody .td_title a,
    #myTable .tbody:hover .td_title a{
        max-width:100%;
    }
    #myTable .tbody:hover .btns{
        display: none;
    }
}
/*底部播放器c3效果*/
@media screen and (min-width: 768px) {
    .navbar #playerContainer{
        bottom:-48px;
        transition: bottom 1s ;
    }

    .navbar:hover #playerContainer{
        bottom:5px;
        transition: bottom 1s ;
    }

}